@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
  font-family: "Titillium Web", sans-serif;
}

:root {
  --blue: #003594;
  --light-yellow: #ebbf65;
  --theme-gray: #d9d9d9;
  --black: #000000;
  --job-posting-container-background: #d2d2d2;
  --job-posting: #d9d9d9;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#body-container {
  display: flex;
  gap: 2.5vw;
  margin: 0px 45px;
}

.all-jobs-container {
  display: grid;
  grid-template-columns: 47% 47%;
  overflow: hidden auto;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  padding: 0 20px;
}

/* .all-jobs-container::-webkit-scrollbar {
  width: 0.25em;
}

.all-jobs-container::-webkit-scrollbar-track {
  background-color: var(--job-posting-container-background);
  border-radius: 100vw;
}

.all-jobs-container::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 100vw;
  border: 0.25em solid var(--blue);
} */

body {
  overflow: hidden;
  background-color: #dadada;
  padding-left: 15px;
  padding-right: 15px;
}

.job-postings-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: var(--job-posting-container-background);
  border-radius: 10px;
  flex-grow: 0.9;
  max-height: calc(78vh + 1.5em);
  box-shadow: 0px 2px 0 1px rgba(0, 0, 0, 15%);
}

.job-postings-filter {
  text-align: center;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--black);
  font-size: 25px;
}
